table {
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  tr {
    th {
      border-right: 1px solid #ccc;
    }
    td {
      border-right: 1px solid #ccc;
    }
    height: 40px;
    text-align: center;
    line-height: 40px;
    .btn {
      font-size: 12px;
      height: 30px;
      width: 80px;
      background-color: #ccc;
      margin: 0 4px;
      &:hover {
        opacity: 0.8;
        background-color: #ccc;
      }
      &.btn-warning {
        background-color: #45c3d2;
      }
    }
  }
}
