.product-card {
  border-radius: 10px;
  transition: all 0.3s;
  margin: 4px;
  background-color: var(--bs-light);

  &:hover {
    box-shadow: 3px 5px 17px -4px rgba(119, 119, 119, 0.7);
  }

  .main-title {
    font-size: var(--font-size-3xl);
    font-weight: 600;
    color: var(--bs-primary);
  }

  .sub-title {
    font-size: var(--font-size-md);
    color: var(--bs-gray);
  }

  .product-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}