.doctor-card {
    position: relative;
    width: 96%;
    height: 30%;
    min-height: 300px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: var(--bs-light);
    margin: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .avt-doctor {
        background-size: cover;
        background-position: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .doctor-name {
        font-size: var(--font-size-xl);
        font-weight: 600;
        color: var(--bs-primary);
    }

    .doctor-specialty {
        font-size: var(--font-size-sm);
        color: var(--bs-gray);
    }

    &:hover {
        box-shadow: 3px 5px 17px -4px rgba(119, 119, 119, 0.7);
    }

    .ratings {
        i {
            color: var(--bs-yellow);
        }
    }

    .appointment {
        position: absolute;
        bottom: 15px;
        width: 90%;

        .book-btn {
            border-radius: 20px;
            background-color: var(--bs-primary);
            color: var(--bs-white);
            border-color: var(--border-color-light);
            font-size: var(--font-size-sm);
            padding: 0 20px;
            width: 100%;
            margin-bottom: 10px;
            height: 35px;

            &:hover {
                background-color: var(--bs-secondary);
            }
        }
    }
}